# ignore node_modules if installed here (e.g. by npm install)
/node_modules/

# ignore configuration files for local development
/develop/local/

# log and map files for local development (could/should become obsolete
# when more control over file location is possible)
/map
/log

# binary compilation output
/valetudo

# Editor directories and files
/.idea/
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

.DS_Store
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
